body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;

    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: #e0f2f1;
}


main {
    flex: 1 0 auto;
}